.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
_media/

db.sqlite3
db.sqlite3-journal
local_settings.py
.cache
.coverage
.coverage.*
.pytest_cache/
.Python
build/
lib/
lib64/

__pycache__/
*.py[cod]
*$py.class