@media (max-width: 550px) {
  :root{
    --grid-rows: 1fr 1fr 1fr 2fr;
    --grid-cols: 1fr;
    --grid-template-areas:
      "chest "
      "chart"
      "progress"
      "main";
  }
    
}
@media (min-width: 551px) and (max-width: 900px) {
  :root {
    --img-width:3.8em;
    --img-height:3.8em;
    --menu-size:14%;
    --grid-rows: 1fr 1fr 2fr;
    --grid-cols: 1fr 1fr;
    --grid-template-areas:
      "chest chest"
      "chart progress"
      "main main";
  }
}
@media (min-width: 901px) and (max-width: 1300px){
  :root{
    --img-width:3.5em;
    --img-height:3.5em;
    --font-size-btn: 16px;
    --grid-cols: 1fr 1fr;
    --grid-rows: 1fr 1fr 1fr;
    --grid-template-areas:
      "main chest "
      "main chart "
      "main progress";
  }
  .glass-effect {
    width:var(--btn-width);
  }
}