::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--primary-color-light);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
  }
  
  * {
    scrollbar-color: var(--primary-color) var(--primary-color-light);
    scrollbar-width: thin;
  }
  
  * {
    scrollbar-face-color: var(--primary-color);
    scrollbar-base-color: var(--primary-color-light);
  }
  
  *:hover {
    scrollbar-face-color: var(--primary-color)9;
  }